*.iml
.gradle
/local.properties
/.idea
/Google Assistant/.idea
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
Google Assistant/.idea
Google Assistant/app/
Navigation/.idea/
Navigation/app/
